h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	margin: 0px;
	padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', serif;
}

p,
ul,
li,
body,
a {
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1180px;
}

/*main css start*/
.top-section {
	padding: 15px 0px 30px 0px;
}
img.logo2 {
    width: 52px;
}
img.logo1 {
    width: 113px;
    height: 51px;
}
.top-section .row {
	align-items: center;
}

.menu-section {
	background: #ECF4FE;
}

.logo2 {
	text-align: right;
}

.menu-section a.nav-link {
	font-size: 16px;
	font-weight: 500;
	color: #293f5c !important;
}

.navbar-nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.navbar-nav .nav-item {
	flex: 1;
	text-align: center;
}

/*====================HERO SECTION ========================*/
.hero-section {
	padding: 60px 0px;
}

.rating {
	font-size: 14px;
}

h1.header-title {
	font-size: 42px;
	font-weight: 700;
	padding-top: 22px;
	padding-bottom: 20px;
}

p.header-des {
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 25px;
}

h5.howks {
	font-size: 17px;
	font-weight: 700;
	font-family: roboto;
	margin-bottom: 10px;
}

ul.list-unstyled.list-item-body .media-body {
	font-size: 18px;
}

.testimonial.mt-4 {
	padding-bottom: 30px;
	padding-left: 30px;
}

p.header-test-text {
	font-size: 15px;
	font-style: italic;
	padding-right: 62px;
	margin-bottom: 12px;
}

.media-body.testmonial-body p.font-weight-bold {
	margin-bottom: -1px;
}

h5.span-feature {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
}
.fame-quiz {
    padding-left: 15px;
    padding-top: 12px;
}
/*==================== SECTION2 ========================*/
.section2 {
	background: #ECF4FE;
	padding: 50px 0px;
	text-align: center;
}

h2.section2-title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: 700;

}

.section2 .row {
	align-items: center;
}

.section2 img {
	width: 110px;
	max-width: 90%;
}

/*==================== SECTION3 ========================*/


.se3-box {
	padding: 30px;
}

h5.sec3-title {
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 25px;
}

p.sec3-text {
	font-size: 17px;
}

/*====================FOOTER SECTION ========================*/
.footer {
	background-color: #ECF4FE;
	color: #333;
}

.footer p {
	font-size: 0.9rem;
	line-height: 1.5;
	margin-bottom: 0.5rem;
}

.footer .btn-primary {
	background-color: #007BFF;
	border-color: #007BFF;
	font-weight: bold;
	font-size: 1rem;
}

.footer .footer-link {
	color: #007BFF;
	font-weight: bold;
	font-size: 1rem;
}

.footer .footer-link:hover {
	text-decoration: underline;
}

p.copyright {
	font-size: 16PX;
	font-weight: 700;
}

p.pri-text {
	font-size: 11px;
	margin-bottom: 20px;
}

.fotter-secound a {
	width: 100%;
}

.fotter-secound {
	padding-top: 29px;
}

.fotter-secound a {
	width: 100%;
	display: block;
	text-align: center;
	text-decoration: none !important;
	margin-bottom: 15px;
}

a.footer-link.active-one {
	background: #1B98D6;
	color: #fff;
	padding: 5px 0px;
	border-radius: 8px;

}
